<% if current_user %>

  <form method='post' action='/peeps'>
    <h3>Compose new Peep</h3>
    <textarea name='message' rows="5" cols="75" placeholder='Compose new Peep...'></textarea><br/>
    <input name='maker_id' type='hidden' value='<%= @current_user.id %>'>
    <button type='submit'>Peep</button>
  </form>

  <% @peeps.reverse_each do |peep| %>
    <p><em><%= pretty_date(peep.created_at) %></em> <strong><%= peep.maker.username %></strong> peeped:<br/>
    <h4><%= peep.message %></h4><br/>
    <a href='/peeps/reply'>reply to peep</a>
    </p>
  <% end %>

<% else %>

  <h1>Welcome to Chitter.</h1><br/>
  <h3>What's happening on Chitter:</h3><br/>
  <% @peeps.reverse_each do |peep| %>
    <p><em><%= peep.created_at %></em> <strong><%= peep.maker.username %></strong> peeped:<br/>
    <h4><%= peep.message %></h4></p>
  <% end %>
  
  Have an account? <a href='/sessions/new'>Sign in</a> | 
  New to Chitter? <a href='/makers/signup'>Sign up now</a>
<% end %>