<% if current_user %>

  <form method='post' action='/peeps'>
    <h3>Compose new Peep</h3>
    <textarea name='message' rows="5" cols="75" placeholder='Compose new Peep...'></textarea><br/>
    <input name='maker_id' type='hidden' value='<%= @current_user.id %>'>
    <button type='submit'>Peep</button>
  </form>

  <ul>
    <% @peeps.each do |peep| %>
      <li>
      <%= @current_user.username %> on <%= peep.created_on %> peeped:<br/>
      <%= peep.message %>
      </li>
    <% end %>
  </ul>

<% else %>
What's happening on Chitter:
  <ul>
    <% @peeps.each do |peep| %>
      <li>
      <%= peep.maker_id %> on <%= peep.created_on %> peeped:<br/>
      <%= peep.message %>
      </li>
    <% end %>
  </ul>

  Have an account? <a href='/sessions/new'>Sign in</a>
  New to Chitter? <a href='/makers/signup'>Sign up now</a>
<% end %>